.heroSection {
  text-align: center;
  background-color: #1976d2;
  color: white;
  padding: 48px 0;
  border-radius: 48px;
  margin-bottom: 32px;
  margin-top: 10px;
}

.featuresSection {
  margin: 32px 0;
}

.featureCard {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.quickLinksSection {
  margin: 32px 0;
  text-align: center;
}

.pageContainer {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  padding: 16px 0;
  text-align: center;
  background-color: #f5f5f5;
  width: 100%;
  margin-top: auto;
}